html, body, #root, .App, div {
  margin: 0;
  height: 100%;
}

h4 {
  margin: 0;
  margin-top: 8px;
}

.Header {
  margin: 0;
  height: 65px;
  color: white;
  background-color: black;
}

.leftNav {
  display: block;
  position: relative;
  height: 100%;
  width: 230px;
  padding-left: 33px;
  padding: 13px 0 13px 15px;
  font-size: 14px;
  color: #555;
  background-color: #ececec;
  border-top: 1px solid #dfdfdf;
  text-decoration: none;
}

.leftNav-links {
  list-style: none;
}

.fa {
  margin-right: 8px;
}
